/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

/* Estilo para el encabezado de advertencia */
h2 {
    color: #d8000c;
    text-align: center;
    margin-top: 100px;
    font-size: 1.5em;
    background-color: #ffd2d2;
    padding: 15px;
    border-radius: 5px;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contenedor para los botones de confirmación */
.confirmDeleteContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* Botón de volver */
a.btn {
    background-color: #008CBA; /* Azul */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

a.btn:hover {
    background-color: #007bb5; /* Azul oscuro */
}

/* Botón de confirmación de eliminación */
.confirmDelete {
    background-color: #d8000c; /* Rojo */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.confirmDelete:hover {
    background-color: #a80000; /* Rojo oscuro */
}

/* Responsivo */
@media (max-width: 600px) {
    h2 {
        width: 90%;
        font-size: 1.2em;
    }
    .confirmDeleteContainer {
        flex-direction: column;
        gap: 10px;
    }
}