/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

/* Encabezado */
h1, h2 {
    text-align: center;
    color: #333;
    margin-top: 100px;
    margin-bottom: 20px;
}

/* Estilos de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #007bb5; /* Azul oscuro al pasar el mouse */
    color: white;
}

/* Formulario de edición del libro */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

form h2 {
    margin-top: 0;
    color: #333;
    text-align: center;
}

form label {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

form input[type="text"],
form input[type="submit"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

form input[type="text"]:focus {
    border-color: #007bb5; /* Borde azul al enfocarse */
    outline: none;
}

form input[type="submit"],
a.btn {
    background-color: #008CBA; /* Azul */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

form input[type="submit"]:hover,
a.btn:hover {
    background-color: #007bb5; /* Azul oscuro al pasar el mouse */
}

a.btn {
    display: inline-block;
    color: #fff;
}

/* Estilos para mensajes y alertas */
.alert {
    color: #d8000c;
    background-color: #ffd2d2;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}